parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:orderByPivot\\(\\)\\.$#"
			count: 1
			path: src/Builder.php

		-
			message: "#^Property Illuminate\\\\Database\\\\Query\\\\Builder\\:\\:\\$joins \\(array\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Builder.php

		-
			message: "#^Variable \\$whereQuery in PHPDoc tag @var does not match any variable in the foreach loop\\: \\$searchables, \\$searchable$#"
			count: 1
			path: src/Builder.php
